@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: hsl(214, 37%, 96%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}
.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background: #F2F5F9;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #CDD7E0;
    border-radius: 8px;
  }
}